<mat-card>

    <mat-card-header fxLayout="row wrap" fxLayoutAlign="space-around center" >
        <mat-card-title>Primes</mat-card-title>
    </mat-card-header>

    <mat-card-content fxLayout="row wrap" fxLayoutAlign="center" class="primes-content">

        <div *ngFor="let prime of (controlPrimeNumbers$ | async )?.controlPrimeNumbers?.primesNumberFound">
            <div>
                <button  mat-raised-button color="primary" (click)="selectPrimeNumber(prime)" style="margin: 10px;">{{prime.primesNumber}}</button>
            </div>

            <div class="grid-container" *ngIf="primeNumberSelected && primeNumberSelected.primesNumber === prime.primesNumber">
              <div class="item1">
                <h1>Primes</h1>
                {{primeNumberSelected.primesNumber}}
              </div>
              <div class="item2">
                <h1>Calculation Time:</h1>
                {{primeNumberSelected.calculationTime}}
              </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>

