<div style="margin: 1em;" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="55%">
      <button mat-raised-button color="primary">77777</button>
      <button mat-raised-button color="primary">345345</button>
      <button mat-raised-button color="primary">2222</button>
    </mat-card>

    <mat-card fxLayout="column" fxLayoutAlign="space-evenly center" fxFlex="40%">
        <button mat-raised-button color="primary">Prime 7878 was found after 00:00:00</button>
        <button mat-raised-button color="primary">Prime 7878 was found after 00:00:00</button>
        <button mat-raised-button color="primary">Prime 7878 was found after 00:00:00</button>
    </mat-card>

  </div>
