
<div style="margin: 1em;">
  <mat-card fxLayout="row" fxLayoutAlign="space-around center">
      <div>
      <button mat-raised-button (click)="startCalculation()" color="primary">Start Calculation</button>
      </div>

      <div>
        <div>Calculation time: {{ (controlPrimeNumbers$ | async)?.primeNumberFound  }}
        </div>
        <br/>
        <div>Sum of found primes: {{ (controlPrimeNumbers$ | async )?.controlPrimeNumbers?.sumOfFoundPrimes}}</div>
      </div>
    </mat-card>
</div>
