#launcher-section {
  grid-area: launcher;
  display: flex;
  justify-items: center;

  .calculation-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5em;
    justify-content: space-around;
  }

  .start-timer-btn {
    width: 200px;
    outline-color: transparent;
    font-size: 20px;
    border: 1px solid;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

    &:hover, &:focus {
      background-color: rgb(19, 70, 136);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(38,143,255,.5);
    }
  }
}
