
<div style="margin: 1em;">
  <mat-card fxLayout="row" fxLayoutAlign="space-around center" fxFlex="55%">

      <div>
      <button mat-raised-button (click)="startCalculation()" color="primary">Start Calculation</button>
      </div>

      <div>
        <div>Calculation time: {{ (counter$ | async)?.counter }} - {{ primeNumberFound }}
        </div>
        <br/>
        <div>Sum of found primes: {{ controlPrimeNumbers.sumOfFoundPrimes }}</div>
      </div>

    </mat-card>
</div>

{{ this.controlPrimeNumbers.primesNumberFound | json }}
<br/>
{{ this.controlPrimeNumbers.notifications | json }}
